*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.bg-image-hero{
    background-image: url(./image/svg.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
/*header  */
}
header{
    height: 7vh;
    width: 100%;
}
header nav{
    margin-top: 0.5rem;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#logo{
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#logo img{
    width: 1.5rem;
}
#logo p{
    color: rgba(255, 255, 255, 0.911);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 5%;
    font-size: medium;
    color: rgba(255, 255, 255, 0.996);
}
.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 1.5rem;
}
.btn #First_btn{
 background-color: rgba(240, 248, 255, 0.093);
 color: white;
 font-weight: 800;
 font-size: 0.9rem;
}
.btn button{
    background-color: white;
    padding: 0.7rem;
    border-radius: 5rem;
    border: none;
    color: #080808;
}
/* deciription */
.deciription{
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
}
.deciription p{
    padding: 0.5rem;
    margin: auto;
    text-align: center;
    width: 40%;
    border-radius: 5rem;
    background-color: rgba(240, 248, 255, 0.19);
    color: white;
    font-weight: 900;
    line-height: 0.5rem;
}
.deciription span{
    background-color: green;
    color: white;
    border-radius: 2rem;
    padding: 0.2rem;
    font-weight: bold;
}
/*Hero_Section  */

.Hero_Section{
    margin-top: 3rem;
    width: 100%;
}
.Hero_Section h1{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.5rem;
    font-size: 2.5rem;
    padding: 1rem;
}
.Hero_Section p{
    padding: 1rem;
    margin: auto;
    width: 40%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-family: serif;
    color: rgb(238, 242, 245);
    font-weight: 500;
}
.Hero_Section .Email_input{
   margin: auto;
   text-align: center;
   padding: 0.1rem;
   background-color: rgba(240, 248, 255, 0.55);
   width: 30%;
   height: 7vh;
   border-radius: 1rem;
}
.Email_input input{
    border: none;
    background-color: rgba(245, 222, 179, 0.11);
    padding: 0.5rem;
    margin: auto;
}
.Email_input button{
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.2rem;
}
.Hero_Section .Large-img{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  background-size: contain;
}
/* company-logos */
.company-logos{
    margin-top: 3rem;
    height: 48vh;
    width: 100%;
}
.First_card,.Secend_cars{
    text-align: center;
    margin-top: 1rem;
}
.First_card img{
    height: 20vh;
    width: 15%;
    padding: 1rem;
}
.Secend_cars img{
    width: 15%;
    padding: 1rem;
}
.Hedding_Text{
    margin-top: 8rem;
    width: 100%;
    height: 20vh;
}
.Hedding_Text h1{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.Hedding_Text p{
  margin: auto;
  padding-top: 1%;
  width: 40%;
  font-size: 1rem;
  text-align: center;
  color: rgba(6, 6, 6, 0.796);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}
/* contenar_box */
.contenar_box{
    margin: 8rem;
}
.Two_columm{
  margin-top: 2.5rem;
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}
/* Card_one */
.Card_one{
    border-radius: 1rem;
    margin:0.5rem;
    border: solid rgb(235, 230, 230);
}
.Card_one .Tab{
    color: rgba(4, 136, 4, 0.73);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem;
    font-size: smaller;
}
.Card_one .Tab:hover{
    cursor: pointer;
}
.Card_one .Hedline{
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: start;
}
.Card_one .Pyragraph{
    align-items: start;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(78, 88, 96);
}
.Card_one .Animation{
   padding: 1rem;
   margin-top: 1rem;
   text-align: center;
   width: 100%;
}
/*Large_contenar  */
.Large_contenar{
   margin-top: 2rem;
   height: 90vh;
   border: solid beige;
   border-radius: 1rem;
}
.Large_contenar .ASSISIANT{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: #11ac09;
    font-weight: 400;
}
.Large_contenar .Titles{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
.Large_contenar .Pyragraph_Assis{
    margin-top: 1rem;
    color: #080808;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
.Large_contenar .Multtipal_card{
    margin-top: 3rem;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.Multtipal_card .cards{
    border: solid 0.5px rgb(8, 92, 2);
    padding: 5rem;
    width: 20vw;
    background-color: white;
    height: auto;
    border-radius: 1rem;
    margin: auto;
}
/* contenar */
.contenar{
    margin: 5rem;
}
/*Fetures_section  */
.Fetures_section{
    background-color: rgba(247, 246, 245, 0.286);
    height: 80vh;
}
.Fetures_section .Texts{
    margin: 1rem;
    width: 30%;
    height: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: #0b8604dc;
}
.Fetures_section .Title_Short{
    margin: 1rem;
    width: 35%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    line-height: 1.5rem;
}
.Fetures_section .pyragraph_text{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.pyragraph_text .btn_one{
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #080808;
    color: #f9f5f5;
    font-size:1rem;
    margin: 2rem;
}
/* Fetures_section .Fetures_bloks */
.Fetures_section .Fetures_bloks{
    margin-top: 1rem;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.Fetures_bloks .Content_box i{
   color: #0b8005;
   font-size: 1.5rem;
   margin: 1rem;
}
.Fetures_bloks .Content_box h2{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.1rem;
   margin: 1rem;
   width: 70%;
}
.Fetures_bloks .Content_box p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 1rem;
   font-weight: 300;
   text-align: start;
}
/*Layout_img  */
.Layout_img{
    margin: 6rem;
    height: 70vh;
    border-radius: 1rem;
    background-image: url(./image/anthropic.svg);
    background-size: cover;
}
.Layout_img .headline{
    color: #f9f5f5;
    font-size: small;
    padding-top: 3rem;
    margin-left: 4rem;
    line-height: 1rem;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Layout_img .Pyragraph_area{
    color: #f9f5f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    text-align: start;
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1rem;
}
.Layout_img .Read_me{
    color: #f9f5f5;
    margin-top: 2rem;
    margin-left: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
.Layout_img .Text_area{
    color: #f9f5f5;
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    margin-left: 3rem;
    text-align: start;
}
/* Main_Title */
.Main_Title{
    margin: 4rem;
    padding: 1rem;
}
.Main_Title h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.Main_Title p{
    text-align: center;
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(79, 81, 82);
}
.Main_Title .Buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.First_button button{
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #f9f5f5;
    background-color: #080808;
    border: none;
}
.Secend_button button{
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: #080808;
    background-color: #ece8e8;
    border: none; 
}
/* Footer Section   */
footer{
    border: solid #f9f5f56a;
    border-radius: 1rem;
    margin: 4rem;
    height: 50vh;
}
.cmp-logos{
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}
.cmp-logos img{
    width: 50%;
    margin-top:2rem;
}
.cmp-logos i{
    font-size: 1.6rem;
    color: rgb(156, 159, 162);
}
.Footer_list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(78, 88, 96, 0.58);
}
.Footer_list{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 3rem;
    line-height: 2rem;
    font-size: medium;
}
.Footer_list ul{
    list-style: none;
}
.Footer_list a{
    color: #080808;
}
